@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
.center-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh + 80px);
  gap: 3rem;
  border: solid 1px #aaa;
  min-width: 350px;
}
#name {
  color: whitesmoke;
  font-size: 48px;
  letter-spacing: 0.2rem;
  font-weight: bold;
  // font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: "Tilt Prism", cursive;
}
.loader-circle-11 {
  position: relative;
  width: 70px;
  height: 70px;
  transform-style: preserve-3d;
  perspective: 400px;
}
.loader-circle-11 .arc {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-bottom: 5px solid #f00;
}
.loader-circle-11 .arc:nth-child(1) {
  animation: rotate1 1.15s linear infinite;
}
.loader-circle-11 .arc:nth-child(2) {
  animation: rotate2 1.15s linear infinite;
}
.loader-circle-11 .arc:nth-child(3) {
  animation: rotate3 1.15s linear infinite;
}
.loading .arc:nth-child(1) {
  animation-delay: -0.8s;
}
.loader-circle-11 .arc:nth-child(2) {
  animation-delay: -0.4s;
}
.loader-circle-11 .arc:nth-child(3) {
  animation-delay: 0s;
}
@keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}
@keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
@media only screen and (max-width: 350px) {
  .center-body {
    min-width: 350px;
  }
}
