.FooterContainer {
  position: absolute;
  margin-top: auto;
  top:calc(80px + 100vh);
  width: 100vw;
  height: 80px;
  background-color: #202124;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: nowrap;
  .FooterContent {
    min-width: 350px;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 3rem;
  }
  #FooterIcon{
    color: whitesmoke;
    font-size: 1.6rem;
  }

  #FooterIcon:hover{
    font-size: 2rem;
    display: inline-block;
    border: 1px initial rgb(86, 180, 239);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
    background-color: initial;
}
}

@media only screen and (min-width: 700px) {
  .FooterContainer{
    width: 100vw;
    .FooterContent{
      min-width: 350px;
      width: 40vw;
      gap: 0.5rem;
    }

  }
}