::-webkit-scrollbar {
  width: 0.2rem;
}
::-webkit-scrollbar-thumb {
  width: 0.1rem;
  background-color: #5b5b5b39;
  border-radius: 1rem;
}
h1 h2 {
  line-height: 3rem;
}
body {
  line-height: 2rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw;
  background: #2f2e2e;
  height: auto;
  min-width: 350px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
